<div>
  <button mat-button>mat button</button>
  <button mat-raised-button>mat-raised-button</button>
  <button mat-flat-button>mat-flat-button</button>
  <button mat-stroked-button>mat-stroked-button</button>
</div>

<div>
  <h1>icon button</h1>
  <button mat-icon-button>mat-icon-button</button>
  <button mat-fab>mat-fab</button>
  <button mat-mini-fab>mat-mini-fab</button>
</div>

<div>
  <h1>button text color</h1>
  <button color="primary" mat-button>primary</button>
  <button color="accent" mat-button>accent</button>
  <button color="warn" mat-button>warn</button>
</div>

<div>
  <h1>button background-color</h1>
  <button color="primary" mat-raised-button>primary</button>
  <button color="accent" mat-raised-button>accent</button>
  <button color="warn" mat-raised-button>warn</button>
</div>

<div>
  <h1>ripple effect</h1>
  <button color="primary" mat-raised-button>ripple</button>
  <button color="primary" disableRipple mat-raised-button>
    disable ripple
  </button>
</div>
