<button mat-raised-button>Material Typography</button>

<div class="mat-display-4">mat-display-4</div>
<!-- can use once for each section -->
<div class="mat-display-3">mat-display-3</div>
<!-- can use once for each section-->
<div class="mat-display-2">mat-display-2</div>
<!-- can use once for each section-->
<div class="mat-display-1">mat-display-1</div>
<!-- can use once for each section-->

<div>-----------------------------------------------------</div>
<div class="mat-headline">mat-headline, this is heading for h1</div>
<!-- can use multiple times for each section-->
<div class="mat-title">mat-title, this is heading for h2</div>
<!-- can use multiple times for each section-->
<div class="mat-subheading-2">mat-subheading-2, this is heading for h3</div>
<!-- can use multiple times for each section-->
<div class="mat-subheading-1">mat-subheading-1, this is heading for h4</div>
<!-- can use multiple times for each section-->

<div>------------h1 to h6 with mat-typography-------------</div>
<div class="mat-typography">
  <h1>this is heading for h1</h1>
  <h2>this is heading for h2</h2>
  <h3>this is heading for h3</h3>
  <h4>this is heading for h4</h4>
  <h5>this is heading for h5</h5>
  <h6>this is heading for h6</h6>
</div>

<div>-----------------------------------------------------</div>
<div class="mat-body-1">mat-body-1, this is body text.</div>
<div class="mat-body-2">mat-body-2, this is bold body text</div>
<div class="mat-caption">mat-caption, thi is caption text</div>
